#main {
    display: grid;
    grid-template-columns: 20vw auto;
    min-height: calc(100vh - 112px);
}

#main>aside {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
}

#main>aside>h3 {
    border-bottom: 2px solid #616161;
    line-height: 48px;
    margin: 12px;
}

#main>aside>a {
    color: #3F51B5;
    padding: 12px;
    text-decoration: none;
}

#main>aside>a:hover {
    background-color: #E0E0E0;
}