#main {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 112px);
}

#main>aside {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    width: 20vw;
}

#main>aside>h3 {
    border-bottom: 2px solid #616161;
    margin: 12px;
    padding: 12px 0px;
}

#main>aside>a {
    color: #3F51B5;
    padding: 12px;
    text-decoration: none;
}

#main>aside>a:hover {
    background-color: #E0E0E0;
}

#main>main {
    padding: 8px;
}