#notifications {
    bottom: 16px;
    list-style: none;
    padding: 0;
    position: fixed;
    right: 16px;
    width: 25vw;
}

#notifications>li {
    border-radius: 4px;
    color: #FFFFFF;
    font-size: smaller;
    margin: 4px;
    padding: 16px;
}

#notifications>li.success {
    background-color: #8BC34A;
}

#notifications>li.information {
    background-color: #00BCD4;
}

#notifications>li.error {
    background-color: #F44336;
}

#notifications>li>ul {
    list-style: square;
    padding-left: 16px;
}

#notifications>li>ul>li:not(:first-child) {
    margin-top: 8px;
}