@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url('components/fonts/roboto/roboto-regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url('components/fonts/roboto/roboto-bold.ttf');
}

* {
  box-sizing: border-box;
  font-family: Roboto;
  line-height: 1;
  outline: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  columns: #212121;
  margin: 0;
}

button {
  background-color: #3F51B5;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  height: 48px;
  margin: 4px 0px;
  padding: 16px;
}

input {
  border: 2px solid #616161;
  border-radius: 4px;
  color: #212121;
  font-size: medium;
  height: 48px;
  margin: 4px 0px;
  padding: 16px;
}

input:focus {
  border-color: #3F51B5;
}

label {
  color: #3F51B5;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: smaller;
  margin: 4px 0px;
  margin-top: 8px;
}

label::after {
  content: ':';
}

table {
  border-collapse: collapse;
  margin: 16px;
}

td,
th {
  text-align: center;
  border-bottom: 1px solid #616161;
  padding: 16px;
}